{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h3>Songs list</h3>
  <table class="highlight hoverable responsive-table">
    <thead class="thead-dark">
      <tr>
	<th scope="col">Title</th>
	<th scope="col">Author</th>
	<th scope="col">Chords</th>
      </tr>
    </thead>
    <tbody>
      {% for song in songslist %}
      <tr>
	<td>{{ song['title'] }}</td>
	<td>{{ song['author'] }}</td>
	<td><a class="waves-effect waves-teal btn" href="{{ url_for('getsong', title=song['title'])}}"><i class="material-icons">music_note</i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
